body {

font-family: Arial, sans-serif;

color: #FFFFFF;

background-image: url("lightning_mcqueen_4k_8k-3840x2160.jpg");
    
background-size: cover;
    
background-repeat: no repeat;
    
background-position: center; 
    
margin: 0;

padding: 0;

line-height: 0.9;

} 

header {

background-color: #000000;

color: white;

padding: 10px;

text-align: center;

}

header h1 {

margin: 0;

}

nav a {

color: light pink;

text-decoration: solid;

margin: 0 10px;

}

nav a:hover {

text-decoration: underline;

} 
main {

padding: 20px;

max-width: 800px;

margin: 0 auto;

}

main img {

max-width: 100%;

height: auto;

display: block horizontal;

margin: 20px ;

} 
footer {

background-color: #333;

color: white;

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;

} 
img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

 img {
    width: 300px;
    height: auto;} 
     
gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
}

gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
 

