body {

font-family: "Poppins", sans-serif;
background-color: #1e1e1e;
color: white;
margin: 0;
padding: 0;
boarder: none;
text-transition: capitalize;    
transition: 0.3s;
} 

header {

background-color: rgba(0,0,0,0.8);

color: white;

padding: 10px;

text-align: center;

}

header h1 {

margin: 0;
    
font-size: 2em
}

nav ul {
    
list-style: none;
    
display: flex;
    
text align: center;

padding: 10px;

background: rgba(0,0,0,0.8)

}

nav a {

 color: #ff4c4c;
    
    text-decoration: none;
    
    margin: 0 15px;
    
    font-size: 1.2em;
    
    transition: color 0.3s ease }

nav a:hover {
    
    color: #ffd700;
    
    text-decoration: underline }
    
main {    
padding: 40px;

max-width: 900px;

margin: 0 auto;
    
text align: center;
}

main img {
    
max-width: 100%;
    
    height: auto;
    
    display: block;
    
    margin: 20px auto;
    
    border-radius: 10px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
    transition: transform 0.3s ease-in-out;

}
    
main img:hover {
    
    transform: scale(1.05);
}
    
footer {

background-color: #222;

color: white;

text-align: center;

padding: 15px;

position: fixed;

bottom: 0;

width: 100%;
    
font-size: 0.9em;
    
}
    
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}
.gallery-grid img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    height: 200px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* optional: soft shadow */
    
}
.gallery-grid img:hover {
    transform: scale(1.03);

 .logo {
    font-size: 15px;
    font-weight: bold;
 }

.contact-image {
    width: 5px;
    height :5px;
    margin-left :8px;
}
    
    




    




    
    


